:root {
  // Colors
  // Primary
  --primary-color-cyan: hsl(180, 66%, 49%);
  --primary-color-dark-violet: hsl(257, 27%, 26%);
  //Secondary
  --secondary-color-Red: hsl(0, 87%, 67%);
  // Neutral
  --tertiary-color-gray: hsl(0, 0%, 75%);
  --tertiary-color-light-gray: hsla(0, 0%, 90%);
  --tertiary-color-grayish-violet: hsl(257, 7%, 63%);
  --tertiary-color-very-dark-blue: hsl(255, 11%, 22%);
  --tertiary-color-very-dark-violet: hsl(260, 8%, 14%);
  // fonts family
  --primary-font: 'Poppins', sans-serif;
  // font-size:
  --primary-font-size: 1.8rem;

  // padding
  --page-padding: 3rem;
  --padding-small: 1rem;
  --padding-medium: 2rem;
  --padding-large: 4rem;
  --padding-x-large: 6rem;
  @include respond(tab-land) {
    --page-padding: 5rem;
  }
  //margin
  --margin-small: 1rem;
  --margin-medium: 2rem;
  --margin-large: 4rem;
  --margin-x-large: 6rem;
}
