.hamburger-btn {
  position: relative;

  margin-top: 2rem;

  &,
  &::before,
  &::after {
    width: 4rem;
    height: 2px;
    background-color: black;
    display: inline-block;
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
  }
  &::before {
    top: -1rem;
  }
  &::after {
    top: 1rem;
  }
}
