.hamburger-btn {
  background: none;
  cursor: pointer;
  outline: none;
  // border to increase the click area
  border: 4px solid transparent;

  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__link {
    position: relative;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: var(--tertiary-color-grayish-violet);
      display: inline-block;
      transition: transform 0.2s, background-color 0.1s;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
    }
    &::before {
      top: -1rem;
    }
    &::after {
      top: 1rem;
    }
  }
}

.is-open {
  background-color: transparent;
  &::before {
    top: 0;
    transform: rotate(135deg);
  }
  &::after {
    top: 0;
    transform: rotate(-135deg);
  }
}

// button styles

.btn {
  cursor: pointer;
  display: inline-block;
  outline: none;
  font-size: 1.8rem;
  font-weight: 700;

  color: #fff;

  &--primary {
    background-color: var(--primary-color-cyan);
    border-radius: 32px;
    padding: 0.8em 1.6em;
  }
  &:hover,
  &:active {
    filter: contrast(1.3);
  }
}
