.main-nav {
  background-color: var(--primary-color-dark-violet);
  border-radius: 0.9rem;
  text-align: center;
  padding: 0 var(--padding-small);
  position: absolute;
  width: calc(100% - (var(--page-padding) * 2));
  left: var(--page-padding);
  right: var(--page-padding);
  top: 100%;
  display: none;
  @include respond(tab-land) {
    text-align: left;
    position: static;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
  }
  &__link {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    width: 100%;
    @include respond(tab-land) {
      color: var(--tertiary-color-gray);
      font-size: 1.6rem;
      transition: all 0.2s;
      &:hover {
        font-weight: 700;
        color: var(--tertiary-color-very-dark-violet);
      }
    }
  }
  &__btn {
    width: 100%;
    @include respond(tab-land) {
      font-size: 1.6rem;
    }
  }
  &__primary {
    padding: var(--padding-medium) 0;
    @include respond(tab-land) {
      display: flex;
      align-items: center;
    }
    &--cta {
      border-top: 1px solid rgba(250, 250, 250, 0.1);
      @include respond(tab-land) {
        justify-content: flex-end;
      }
    }
  }
  &__list {
    &:not(:first-child) {
      margin-top: var(--margin-medium);
      @include respond(tab-land) {
        margin-top: 0;
      }
    }
    &:not(:last-child) {
      margin-right: var(--margin-medium);
    }
  }
}
