.output-group {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(-0.7 * var(--margin-x-large));

  &__list {
    background-color: #fff;
    outline: none;
    width: 90%;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    @include respond(tab-land) {
      flex-direction: row;
      align-items: center;
      padding: var(--padding-small);
    }

    &:not(:first-child) {
      margin-top: var(--margin-medium);
    }
  }
  &__item {
    color: var(--primary-color-cyan);
    font-size: 1.4rem;
    font-weight: 700;
    width: 100%;
    padding: var(--padding-small) 1em;
    &:not(:first-child) {
      @include respond(tab-land) {
        flex: 1;
      }
    }
    &:first-child {
      border-bottom: 1px solid var(--tertiary-color-gray);
      color: var(--primary-color-dark-violet);
      @include respond(tab-land) {
        border-bottom: none;
        text-align: left;
      }
    }
  }
  &__cta {
    margin: 0 1em;
    margin-bottom: var(--margin-medium);
    font-size: 1.6rem;
    @include respond(tab-land) {
      margin-bottom: 0;
    }
    &--copied {
      background-color: var(--primary-color-dark-violet);
      &:hover {
        // remove hover effect from button component
        filter: contrast(1);
      }
    }
  }
}
