// reset style
:root {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
// reset anchor and button element
button,
a,
a:link,
a:active {
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
}
