.title-primary {
  font-size: 4rem;
  line-height: 1.2;
  color: var(--tertiary-color-very-dark-blue);
  margin-bottom: var(--margin-small);
}
.text-primary {
  font-weight: 500;
  color: var(--tertiary-color-grayish-violet);
  margin-bottom: var(--margin-large);
}
.title-secondary {
  font-size: 2.5rem;
  color: var(--tertiary-color-very-dark-blue);
  margin-bottom: var(--margin-small);
  &--white {
    color: white;
  }
}
.text-secondary {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--tertiary-color-grayish-violet);
  margin-top: var(--margin-medium);
  height: max-content;
}
