.header {
  padding: var(--padding-medium) var(--page-padding);
  margin-top: var(--margin-medium);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    &--img {
      vertical-align: middle;
    }
  }
}
.hero {
  margin-bottom: calc(var(--margin-x-large) * 2);
  // @include respond(tab-land) {
  //   display: flex;
  //   margin-top: var(--margin-large);
  //   overflow-x: hidden;
  //   height: 20em;
  // }

  &__media {
    margin-bottom: var(--margin-large);
    overflow: hidden;
  }
  &__image {
    display: inline-block;
    padding-left: var(--page-padding);

    img {
      display: inline-block;
      width: 150%;
    }
  }
  &__inner {
    text-align: center;
    padding: 0 var(--page-padding);
  }
}
.features {
  background-color: var(--tertiary-color-light-gray);
  text-align: center;
  padding-bottom: 3em;
  &__statistic {
    margin-top: var(--margin-x-large);
    padding: var(--padding-medium) var(--page-padding);
  }
  &__title {
    margin-bottom: calc(var(--margin-medium) * 4);
  }
}
.boost {
  padding: 0 var(--page-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary-color-dark-violet) url(/images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 16em;
  @include respond(tab-port) {
    background: var(--primary-color-dark-violet)
      url(/images/bg-boost-desktop.svg);
    background-repeat: no-repeat;
    height: 11em;
  }
}
.footer {
  background-color: var(--tertiary-color-very-dark-violet);
  text-align: center;
  padding: var(--padding-x-large) var(--page-padding);
  &__logo {
    margin-bottom: var(--margin-large);
  }
}
