.header {
  padding: var(--padding-medium) var(--page-padding);
  // margin-top: var(--margin-medium);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    &--img {
      vertical-align: middle;
    }
  }
}
